.results-card {
  /* display: grid;
  grid-template-columns: 30% 8; */
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* padding: 24px; */
  width: 278px;
  font-family: sans-serif; /* Примерный шрифт */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.characters {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.character-left,
.character-right {
  width: 80px; /* Примерная ширина персонажей */
  height: 80px; /* Примерная высота персонажей */
  border-radius: 50%;
  background-color: #eee; /* Заглушка для фона персонажей */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
}

.character-right {
  margin-left: 16px;
}


.test-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  text-align: center;
}

.total-score {
  font-size: 16px;
  color: #777;
  text-align: center;
}

.subjects-scores {
  margin: 20px;
}

.subject-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.subject-name {
  font-size: 16px;
  color: #555;
}

.score {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* Примерный цвет баллов */
}

.details-button {
  background-color: #6200EE;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 13px;
  font-size: 16px;
  cursor: pointer;
  /* width: 100%; */
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  margin-left: 20px;
}

.details-button:hover {
  background-color: #0056b3;
}

